[Unit]
Description=Backend service

[Service]
User=expense
Environment=DB_HOST={{ MYSQL_HOST }}
MYSQL_USER: root
LOGIN_PASSWORD: ExpenseAPP@1
ExecStart=/bin/node /app/index.js
SyslogIdentifier=backend


[Install]
WantedBy=multi-user.target